* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	font-family: poppins, sans-serif;
}

:root {
	--primary: #49135C;
	--primary-md: rgba(140, 68, 166, 0.5);
	--primary-light: #D8B4FE;

	--bg-main: #F0F0F0;
	--text-main: #1e293b;

	--orange-light: #FFF3E0;
	--orange: #F57C00;

	--blue-light: #E3F2FD;
	--blue: #1976d2;

	--choco-light: #FEF1E5;
	--choco: #704116;

	--green-light: #e8f5e9;
	--green: #388e3c;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;
}

._loading-container {
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition: all 0.2s linear;
}

.title {
	font-size: 2rem !important;
}

@media screen and (min-width:1000px) {
	.title {
		font-size: 3rem !important;
	}
}

._links a i,
._links a h4 {
	color: var(--bg-main);
	padding: 0.75rem 1.5rem;
	border-radius: 14px;
}

._links a.active h4 {
	background-color: var(--primary-md);
}

.hidden {
	display: none !important;
}

img {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0;
}

body > main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;left: 0;
	background-color: #0000007c;

}

.loading-container {
	display: grid;
	grid-template-columns: repeat(2, 50px);
	grid-template-rows: repeat(2, 50px);
	gap: 50px;
	width: 200px;
	height: 200px;
}

.bulat>* {
	font-size: 2rem;
}

.bulat {
	border-radius: 14px;
	position: absolute;
	width: 0px;
	height: 0px;
	background-color: white;
	/* animation: fadeIN 0.6s forwards,bounce 0.5s 0.6s; */
	animation-delay: 2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bulat>* {
	opacity: 0;
	/* animation: show 0.2s forwards; */
	animation-delay: 2.5s;
	z-index: 10;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.loading-circle {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.loading-circle:nth-of-type(1) {
	background-color: var(--primary);
	animation: loadingAnimation1 3s ease infinite;
}

@keyframes bounce {

	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}

}

@keyframes fadeIN {
	0% {
		width: 0%;
		height: 0%;
	}

	100% {
		width: 300px;
		height: 300px;
	outline: 5px solid var(--primary);
	}
}

@keyframes loadingAnimation1 {
	0% {
		transform: translateX(0%) translateY(0%);
	}

	25% {
		transform: translateX(100px) translateY(0);
	}

	50% {
		transform: translateX(100px) translateY(100px);
	}

	75% {
		transform: translateX(0) translateY(100px);
	}
}

.loading-circle:nth-of-type(2) {
	background-color: var(--primary-light);
	animation: loadingAnimation2 3s ease infinite;
}

@keyframes loadingAnimation2 {
	0% {
		transform: translateX(0%) translateY(0);
	}

	25% {
		transform: translateX(0) translateY(100px);
	}

	50% {
		transform: translateX(-100px) translateY(100px);
	}

	75% {
		transform: translateX(-100px) translateY(0);
	}
}

.loading-circle:nth-of-type(3) {
	background-color: var(--primary-light);
	animation: loadingAnimation3 3s ease infinite;
}

@keyframes loadingAnimation3 {
	0% {
		transform: translateX(0%) translateY(0);
	}

	25% {
		transform: translateX(0) translateY(-100px);
	}

	50% {
		transform: translateX(100px) translateY(-100px);
	}

	75% {
		transform: translateX(100px) translateY(0);
	}
}

.loading-circle:nth-of-type(4) {
	background-color:var(--primary);
	animation: loadingAnimation4 3s ease infinite;
}

@keyframes loadingAnimation4 {
	0% {
		transform: translateX(0) translateY(0);
	}

	25% {
		transform: translateX(-100px) translateY(0);
	}

	50% {
		transform: translateX(-100px) translateY(-100px);
	}

	75% {
		transform: translateX(0) translateY(-100px);
	}
}