* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root{
	--primary:#000;
}

._loading-container {
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.title {
	font-size: clamp(1rem, 4vw, 2rem);
}