* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@import url("global.css");

:root {
	--primary: #49135C;
	--primary-md: rgba(140, 68, 166, 0.5);
	--primary-light: #D8B4FE;

	--bg-main: #F0F0F0;
	--text-main: #1e293b;

	--orange-light: #FFF3E0;
	--orange: #F57C00;

	--blue-light: #E3F2FD;
	--blue: #1976d2;

	--choco-light: #FEF1E5;
	--choco: #704116;

	--green-light: #e8f5e9;
	--green: #388e3c;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;
}

._loading-container {
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition: all 0.2s linear;
}

.title {
	font-size: 2rem;
}

._links a i,
._links a h4 {
	color: var(--bg-main);
	padding: 0.75rem 1.5rem;
	border-radius: 14px;
}

._links a.active h4 {
	background-color: var(--primary-md);
}

.hidden {
	display: none !important;
}

img {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0;
}