@import url("global.css");

._sidebar {
	width: 40rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-left: 2px solid;
	background-color: #ddd;
}

._sidebar-_mobile {
	position: absolute;
	background-color: #ddd;
	width: 100%;
	height: 100%;
	z-index: 20;
	left: 100%;
	transition: 0.2s all ease;
}

body:has(#_mobile-sideBar:checked) ._sidebar-_mobile {
	left: 0%;
}


/* sebeleah _sidebar */
._workspace {
	flex-grow: 1;
	height: 100%;

	display: grid;
	grid-template-rows: 4rem auto;
}

/* sebeleah _sidebar */

/* _navbar atas content */
._navbar {
	height: 4rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	border-bottom: 2px solid black;
	justify-content: space-between;
	background-color: #eee;
}

._navbar>article {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

._btn-login {
	all: unset;
	background-color: #000;
	color: #fff;
	border-radius: 7px;
	padding: 0.5rem 1rem;
}

/* _navbar atas content */

/* CONTENT */
._content-area {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	overflow-y: auto;
	align-items: center;
	height: 100%;
}

/* CONTENT */

/* show n hide */
._mobile {
	display: block;
}

._dekstop {
	display: none;
}

/* show n hide */



@media screen and (min-width:1000px) {

	._mobile {
		display: none;
	}

	._dekstop {
		display: block;
	}
}