@import url("global.css");

:root {
	--primary: #49135C;
	--primary-md: #8C44A6;
	--primary-light: #D8B4FE;
	--bg-main: #F0F0F0;
	--text-main: #1e293b;

	--radius: 12px;
	--shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;
}

._avatar-besar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	height: 4rem;
	box-shadow: var(--shadow);
}

._avatar-besar img {
	color: var(--bg-main);
}

._links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
}

._links>a h4,
._menu-bawah>a h4 {
	margin-bottom: 0;
	font-size: var(--fs-base);
	color: var(--bg-main);
	white-space: nowrap;
	cursor: pointer;
	border-radius: 14px;
	transition: all 0.2s ease;
}

._links>a,
._menu-bawah>a {
	font-size: 18px;
	padding: 1rem 1rem !important;
	text-decoration: none;
	color: var(--text-main);
	border-radius: var(--border-radius);
	width: 100%;
	gap: 0.5rem;
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: 0.5rem 1.5rem;
}

._sidebar a h4 {
	flex: 1;
}

._links>a:not(.active):hover h4,
._menu-bawah>a:hover h4 {
	background-color: var(--primary-md);
}

._links>a>i,
._menu-bawah>a>i,
.hamburger-icon {
	font-size: var(--fs-md);
	display: grid;
	place-items: center;
	cursor: pointer;
}


._navbar>article a {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--primary);
}

._avatar-kecil {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	border: 2px solid var(--primary);
	background-color: var(--primary);
	background-image: url("../images/profile.svg");
	background-size: cover;
	background-position: center;
}

._avatar-kecil img {
	max-width: 100%;
	height: 100%;
}

._sidebar {
	width: 16rem !important;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: var(--border);
	background-color: #49135C;
	transition: 0.2s all ease;
}

_.menu-atas {
	flex: 1;
	overflow-y: auto;
}

._menu-bawah {
	margin-top: auto !important;
}

._sidebar-moblie {
	position: absolute;
	width: 100%;
	height: calc(100% - 5rem);
	bottom: 0;
	background-color: #49135C !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
}

._sidebar-moblie h4 {
	font-size: 1.5rem !important;
}

._sidebar-moblie ._avatar-besar {
	justify-content: space-between;
}

._sidebar-moblie ._avatar-besar {
	background-color: #eee;
}

._sidebar-moblie {
	background-color: #fff;
	left: -100%;
	transition: all 0.2s ease;
}

._sidebar-moblie ._avatar-besar {
	height: 7rem;
}

._sidebar-moblie a {
	margin: 0.5rem auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

._workspace {
	flex-grow: 1;
	height: 100%;
	display: grid;
	grid-template-rows: 5rem auto;
}

._navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
	background-color: var(--bg-main);
}

._navbar .title {
	font-weight: bolder;
	font-size: 3rem;
	color: #49135C;
}

hr {
	background-color: #F0F0F0;
	height: 3px;
}

/* _navbar atas content */

/* CONTENT */
._content-area {
	flex-grow: 1;
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
	gap: 1rem;
	overflow-y: auto;
	/* align-items: center; */
	background-color: var(--bg-main);
}

._sidebar label {
	cursor: pointer;
}

._mobile {
	display: block;
}

._dekstop {
	display: none;
}

/* show n hide */
body:has(#_mobile-sideBar:checked) ._sidebar-moblie {
	left: 0;
}


._sidebar-moblie a i,
._sidebar-moblie a h4 {
	padding: 1rem;
	font-size: 2rem;
}

@media screen and (min-width:1000px) {

	._sidebar-moblie ._avatar-besar {
		height: 3rem;
	}

	._workspace {
		grid-template-rows: 4rem auto;
	}

	._mobile,
	._sidebar-moblie {
		display: none !important;
	}

	._dekstop {
		display: block !important;
	}

	._sidebar-_dekstop {
		display: flex !important;
		transition: all 0.3s ease;
	}

	.imgReportgroup {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}


}

body:has(#_dekstop-sideBar:checked) ._sidebar {
	width: 5rem !important;
}

body:has(#checkbox_dekstop:checked) aside {
	width: 5rem;
}

body:has(#_dekstop-sideBar:checked) ._sidebar-_dekstop ._links a h4,
body:has(#_dekstop-sideBar:checked) ._sidebar-_dekstop ._menu-bawah a h4 {
	display: none;
}

body:has(#_dekstop-sideBar:checked) ._sidebar-_dekstop ._links a,
body:has(#_dekstop-sideBar:checked) ._sidebar-_dekstop ._menu-bawah a {
	justify-content: center;
}

._menu-bawah a h4 {
	padding: 0.5rem 1.5rem;
	border-radius: 14px;
	transition: all 0.2s ease;
}

.popUpDone,
.popUpLoading,
.popUpFail {
	z-index: 10;
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgReportgroup {
	width: 100%;
	display: grid;
}

.imgReport {
	height: 300px;
	width: 100%;
	background-position: center;
	background-size: cover;
}