:root {
	/* color */
	--primary-dark: #6d28d9;
	--primary: #7c3aed;
	--primary-hover: #6d28d9;
	--primary-active: #5b21b6;
	--primary-light: #f5f3ff;

	/* bg color */
	--bg-main: #f8fafc;
	--white: #ffffff;

	/* text color */
	--text-main: #1e293b;
	--text-muted: #64748b;

	--border-color: #e2e8f0;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	/* success color */
	--success: #16a34a;
	--success-hover: #15803d;
	--success-light: #f0fdf4;

	/* warning color */
	--warning: #d97706;
	--warning-hover: #b45309;
	--warning-light: #fffbeb;

	/* danger color */
	--danger: #dc2626;
	--danger-hover: #b91c1c;
	--danger-light: #fef2f2;
	--border: 1px solid #e2e8f0;

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	/* Extra Small: Untuk teks paling kecil (error or note) */
	--fs-sm: 0.875rem;
	/* Small: Untuk teks kecil (contoh: tulisan hint 'e.g: A-1-2-B(2)') */
	--fs-base: 1rem;
	/* Base: Saiz default untuk teks biasa (label, input) */
	--fs-md: 1.125rem;
	/* Medium: Besar sikit dari biasa (button) */
	--fs-lg: 1.25rem;
	/* Large: Untuk tajuk kecil or sub-heading */
	--fs-xl: 1.5rem;
	/* Extra Large: Untuk tajuk sederhana besar (untuk tajuk) */
	--fs-xxl: 1.75rem;
	/* Extra Extra Large: Untuk tajuk utama paling besar dlm halaman */
}
._content-area{
    display: flex;
    flex-direction: column;
}

.add-box{
    text-align: right;
    padding: 20px 20px 0px 20px;
}

.addBtn{
	padding: 8px 18px;
	background-color: rgb(43, 138, 255);
	border: 1px solid rgb(45, 96, 159);
	border-radius: 5px;
	color: var(--white);
}

.filter-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

a{
    text-decoration: none;
}

.filterBtn{
    background-color: transparent;
	border: 1px solid var(--primary);
   	color: var(--primary-dark);
    padding: 2px 16px;
    border-radius: 5px;
    transition: all 0.18s ease;
}

.filterBtn:hover{
    background-color: #EEEDFE;
}

.filterBtn.filtered{
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--primary-dark);
}

.table-container{
    padding: 20px;
}

/* ------------------REPORT TABLE START------------------------ */

.myReportTbl{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
	
}

.myReportTbl thead tr th{
    padding: 0 20px 5px;
	letter-spacing: 0.03em;
}

.myReportTbl tbody tr td{
    padding: 16px 20px;
    background-color: #F5F2F2;
}

.myReportTbl tbody td:first-child {
	border-radius: 12px 0 0 12px;
	border-left: 1px solid #e8e6f5;
	border-top: 1px solid #e8e6f5;
	border-bottom: 1px solid #e8e6f5;

}

.myReportTbl tbody td:last-child {
	border-radius: 0 12px 12px 0;
	border-right: 1px solid #e8e6f5;
	border-top: 1px solid #e8e6f5;
	border-bottom: 1px solid #e8e6f5;
}


.myReportTbl tbody td:not(:first-child):not(:last-child) {
	border-top: 1px solid #e8e6f5;
	border-bottom: 1px solid #e8e6f5;
} 

.reportCard{
	width: 400px;
	border-collapse: separate;
	border-spacing: 0;
	display: none;
}

.reportCard tbody tr th, .reportCard tbody tr td{
	padding: 12px 20px;
	background-color: #F5F2F2;
}

.reportCard tbody tr th{
	width: 100px;
}

.reportCard tbody tr:first-child th{
	border-radius: 12px 0px 0px 0px;
	border-left: 1px solid #e8e6f5;
	border-top: 1px solid #e8e6f5;
}

.reportCard tbody tr:not(:first-child):not(:last-child) th{
	border-left: 1px solid #e8e6f5;
}

.reportCard tbody tr:last-child td:first-child{
	border-radius: 0px 0px 0px 12px;
	border-left: 1px solid #e8e6f5;
	border-bottom: 1px solid #e8e6f5;
}

.reportCard tbody tr:first-child td{
	border-radius: 0px 12px 0px 0px;
	border-top: 1px solid #e8e6f5;
	border-right: 1px solid #e8e6f5;
}

.reportCard tbody tr:not(:first-child):not(:last-child) td{
	border-right: 1px solid #e8e6f5;
}

.reportCard tbody tr:last-child td:last-child{
	border-radius: 0px 0px 12px 0px;
	border-right: 1px solid #e8e6f5;
	border-bottom: 1px solid #e8e6f5;
}



/* .trackingReportTbl tbody tr{
    cursor: pointer;
}

.trackingReportTbl tbody tr:hover td{
    background-color: #e6e4e4;
} */

/* ------------------REPORT TABLE END ------------------------ */




.updateBtn{
	display: inline-block;
    background-color: var(--primary);
    color: var(--white);
    padding: 5px 24px;
	transition: all 0.18s ease;
	border-radius: 5px;
}

.updateBtn:hover{
	 background-color: var(--primary-hover);
	 
}

.updateBtn:active{
	background: var(--primary-active);
    transform: scale(0.92);
}

.input-control{
	width: 100%;
}
.input-control input,
.input-control select
{
	width: 100%;
	padding: 0.5rem;
}

@media(max-width: 500px) {
	.reportCard{
		display: block;
	}

	.myReportTbl{
		display: none;
	}
}