:root {
	/* color */
	--primary-dark: #49135C;
	--primary: #7c3aed;
	--primary-hover: #6d28d9;
	--primary-active: #5b21b6;
	--primary-light: #f5f3ff;
	--primary-md: rgba(140, 68, 166, 0.5);

	/* bg color */
	--bg-main: #f8fafc;
	--white: #ffffff;

	/* text color */
	--text-main: #1e293b;
	--text-muted: #64748b;

	--border-color: #e2e8f0;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	/* success color */
	--success: #16a34a;
	--success-hover: #15803d;
	--success-light: #f0fdf4;

	/* warning color */
	--warning: #d97706;
	--warning-hover: #b45309;
	--warning-light: #fffbeb;

	/* danger color */
	--danger: #dc2626;
	--danger-hover: #b91c1c;
	--danger-light: #fef2f2;
	--border: 1px solid #e2e8f0;

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;
}
._workspace {
	height: 100vh;
	display: grid;
	grid-template-rows: 5rem 1fr;
}
._content-area {
	display: unset;
	height: auto;
	overflow-y: auto;
}

.add-box {
	text-align: right;
	padding: 20px 20px 0px 20px;
}

.addBtn {
	padding: 8px 18px;
	background-color: rgb(43, 138, 255);
	border: 1px solid rgb(45, 96, 159);
	border-radius: 5px;
	color: var(--white);
}

.filter-box {
	width: 100%;
	height: max-content !important;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	flex-shrink: 0;
}

a {
	text-decoration: none;
}

.filterBtn {
	background-color: transparent;
	border: 1px solid var(--primary);
	color: var(--primary);
	padding: 2px 16px;
	border-radius: 5px;
	transition: all 0.18s ease;
}

.filterBtn:hover {
	background-color: #EEEDFE;
}

.filterBtn.filtered {
	background-color: var(--primary);
	color: var(--white);
	border-color: var(--primary-dark);
}

.table-container {
	padding: 20px;
	width: 100%;
	/* flex: 1; */
	/* overflow-y: auto; */
}

/* ------------------REPORT TABLE START------------------------ */

.myReportTbl {
	width: 100% !important;
	border-collapse: separate;
	border-spacing: 0px 10px;

}

.myReportTbl thead tr th {
	padding: 0 20px 5px;
	letter-spacing: 0.03em;
	color: var(--primary-dark);
}

.myReportTbl tbody tr td {
	padding: 16px 20px;
	background-color: var(--primary-light);
}

.myReportTbl tbody td:first-child {
	border-radius: 12px 0 0 12px;
	border-left: 1px solid var(--primary-md);
	border-top: 1px solid var(--primary-md);
	border-bottom: 1px solid var(--primary-md);

}

.myReportTbl tbody td:last-child {
	border-radius: 0 12px 12px 0;
	border-right: 1px solid var(--primary-md);
	border-top: 1px solid var(--primary-md);
	border-bottom: 1px solid var(--primary-md);
}


.myReportTbl tbody td:not(:first-child):not(:last-child) {
	border-top: 1px solid var(--primary-md);
	border-bottom: 1px solid var(--primary-md);
}

strong{
	color: var(--primary-dark);
}

.reportCard{
	background-color: var(--primary-light);
	border-radius: 15px;
	border: 1px solid var(--primary-md);
	display: none;
	margin: 20px;
}

#reportCard-info{
	display: flex;
	flex-direction: row;
	margin-top: 8px;
}

#reportCard-info div p{
	padding: 8px 20px;
}

#reportCard-bottom{
	margin: 16px;
}


/* ------------------REPORT TABLE END ------------------------ */




.updateBtn {
	display: inline-block;
	background-color: var(--primary);
	color: var(--white);
	padding: 5px 24px;
	transition: all 0.18s ease;
	border-radius: 5px;
}

.updateBtn:hover {
	background-color: var(--primary-hover);

}

.updateBtn:active {
	background: var(--primary-active);
	transform: scale(0.92);
}

.deleteBtn{
	display: inline-block;
	background-color: var(--danger);
	color: var(--white);
	padding: 5px 24px;
	transition: all 0.18s ease;
	border-radius: 5px;
}

.deleteBtn:hover{
	background-color: var(--danger-hover);
}

.deleteBtn:active{
	background: var(--primary-active);
	transform: scale(0.92);
}

.input-control {
	width: 100%;
}

.input-control input,
.input-control select {
	width: 100%;
	padding: 0.5rem;
}

@media(max-width: 700px) {
	.reportCard {
		display: block;
	}

	.myReportTbl {
		display: none;
	}

	#reportCard-bottom{
		display: flex;
		justify-content: end;
	}

}
.deleteBtn.disabled {
	opacity: 0.5 !important;
	cursor: not-allowed !important;
}
.updateBtn.disabled{
		opacity: 0.5 !important;
			cursor: not-allowed !important;
}
/* ==============  filter  =============== */

.filter-cantainer {
	display: block;
	width: 100% !important;
	padding: 0.5rem;
	gap: 0.5rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.pagination {
	display: flex;
	flex-direction: column;
}

.pagination>p {
	text-align: center;
}

.pagination article {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
}

.pagination article button {
	all: unset;
	cursor: pointer;
	padding: 0.5rem;
	border: 1px solid black;
	text-align: center;
	border-radius: 4px;
}

.pagination article button+.active,
.btn-next {
	border: 1px solid var(--primary) !important;
	color: #fff !important;
	background-color: var(--primary) !important;
}

.btn-reset-filter {
	all: unset;
	width: max-content;
	padding: 0.5rem 1rem;
	border: 1px solid var(--danger);
	background-color: var(--danger-light);
	color: var(--danger);
	border-radius: 4px;
	margin: 0.5rem;
}

.btn-reset-filter:hover {
	background-color: var(--danger-hover);
	color: white;
}

@media screen and (min-width: 1000px) {
	.pagination {
		justify-content: space-between !important;
		flex-direction: unset;
	}

	.filter-cantainer {
		grid-template-columns: repeat(2, 1fr);
	}
}