<aside class="_sidebar-moblie moblie">
	<div class="_menu-atas">


		<nav class="_links">
			<a href="../../pages/user/dashboard.html" data-page="Dashboard">
				<img src="../../images/dashboard.sng.svg" alt="">
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/user/newReport.html" data-page="New Report">
				<i class="fa-solid fa-flag"></i>
				<h4>New Report</h4>
			</a>
			<a href="../../pages/user/myReport.html" data-page="My Report">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Report</h4>
			</a>
			<a href="../../pages/user/myProfile.html" data-page="My Profile">
				<i class="fa-solid fa-circle-user"></i>
				<h4>My Profile</h4>
			</a>
		</nav>

	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<i class="fa-solid fa-right-from-bracket"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>

<aside class="_sidebar-_dekstop _sidebar _dekstop">
	<div class="_menu-atas">
		<div class="_avatar-besar">
			<img src="../../images/logo.svg" alt="">
			<label for="_dekstop-sideBar">
				<img src="../../images/close.svg" alt="">
			</label>
		</div>

		<nav class="_links">
			<a href="../../pages/user/dashboard.html" data-page="Dashboard">
				<img src="../../images/dashboard.sng.svg" alt="">
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/user/newReport.html" data-page="New Report">
				<img src="../../images/add.svg" alt="">
				<h4>New Report</h4>
			</a>
			<a href="../../pages/user/myReport.html" data-page="My Report">
				<img src="../../images/view.svg" alt="">
				<h4>My Report</h4>
			</a>
			<a href="../../pages/user/myProfile.html" data-page="My Profile">
				<img src="../../images/profile.svg" alt="">
				<h4>My Profile</h4>
			</a>
		</nav>
	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<img src="../../images/logout.svg" alt="">
			<h4>Logout</h4>
		</a>
	</div>
</aside>