<aside class="_sidebar-moblie moblie">
	<div class="_menu-atas">


		<nav class="_links">
			<a href="../../pages/user/dashboard.html" data-page="Dashboard">
				<i class="fa-solid fa-display"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/user/newReport.html" data-page="New Report">
				<i class="fa-solid fa-flag"></i>
				<h4>New Report</h4>
			</a>
			<a href="../../pages/user/myReport.html" data-page="My Report">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Report</h4>
			</a>
			<a href="../../pages/user/myProfile.html" data-page="My Profile">
				<i class="fa-solid fa-circle-user"></i>
				<h4>My Profile</h4>
			</a>
		</nav>

	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<i class="fa-solid fa-right-from-bracket"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>

<aside class="_sidebar-_dekstop _sidebar _dekstop">
	<div class="_menu-atas">
		<div class="_avatar-besar">
			<img style="width: 80%;" src="../../images/logo.png" alt="">
			<i class="fa-solid fa-bolt hidden"></i>

		</div>

		<nav class="_links">
			<a href="../../pages/user/dashboard.html" data-page="Dashboard">
				<i class="fa-solid fa-display"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/user/newReport.html" data-page="New Report">
				<i class="fa-solid fa-file-medical"></i>
				<h4>New Report</h4>
			</a>
			<a href="../../pages/user/myReport.html" data-page="My Report">
				<i class="fa-solid fa-table-list"></i>
				<h4>My Report</h4>
			</a>
			<a href="../../pages/user/myProfile.html" data-page="My Profile">
				<i class="fa-solid fa-circle-user"></i>
				<h4>My Profile</h4>
			</a>
		</nav>
	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<i class="fa-solid fa-right-from-bracket"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>