<aside class="sidebar-moblie moblie">
	<div class="menu-atas">
		<div class="avatar-besar">
			<label for="mobile-sideBar">
				<img style="height: 4rem;" src="../../images/logo.png" alt="">
			</label>
			<div class="avatar-kecil"></div>
		</div>

		<nav class="links">
			<a href="../../pages/user/dashboard.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/user/newReport.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>New Report</h4>
			</a>
			<a href="../../pages/user/myReport.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Report</h4>
			</a>
			<a href="../../pages/user/myProfile.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Profile</h4>
			</a>
		</nav>

	</div>
	<div class="menu-bawah">
		<a href="../../login.html">
			<i class="fa-solid fa-font-awesome"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>

<aside class="sidebar-dekstop sidebar dekstop">
	<div class="menu-atas">
		<div class="avatar-besar">
			<img style="width: 80%;" src="../../images/logo.png" alt="">
		</div>

		<nav class="links">
			<a href="#">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="#">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>New Report</h4>
			</a>
			<a href="#">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Report</h4>
			</a>
			<a href="#">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Profile</h4>
			</a>
		</nav>
	</div>
	<div class="menu-bawah">
		<a href="../../login.html">
			<i class="fa-solid fa-font-awesome"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>