<aside class="_sidebar-moblie moblie">
	<div class=_.menu-atas">
		<div class="_avatar-besar">
			<label for="_mobile-sideBar">
				<img style="height: 4rem;" src="../../images/dropdown icon.png" alt="">
			</label>
			<div class="_avatar-kecil"></div>
		</div>

		<nav class="_links">
			<a href="../../pages/college-admin/dashboard.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/college-admin/reportManage.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>College Reports</h4>
			</a>
			<a href="../../pages/college-admin/reportAnalysis.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Analysis</h4>
			</a>
			<a href="../../pages/college-admin/myProfile.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Profile</h4>
			</a>
		</nav>

	</div>
	<div class="_menu-bawah">
		<a href="../../index.html"> <i class="fa-solid fa-font-awesome"></i>
			<h4>Dashboard</h4>
		</a>
	</div>
</aside>

<aside class="_sidebar-_dekstop _sidebar _dekstop">
	<div class=_.menu-atas">
		<div class="_avatar-besar">
			<img style="width: 80%;" src="../../images/logo.png" alt="">
		</div>

		<nav class="_links">
			<a href="../../pages/college-admin/dashboard.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/college-admin/reportManage.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>College Reports</h4>
			</a>
			<a href="../../pages/college-admin/reportAnalysis.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>Analysis</h4>
			</a>
			<a href="../../pages/college-admin/myProfile.html">
				<i class="fa-solid fa-font-awesome"></i>
				<h4>My Profile</h4>
			</a>
		</nav>
	</div>
	<div class="_menu-bawah">
		<a href="../../index.html"> <i class="fa-solid fa-font-awesome"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>