.dashboard-area{
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
    margin: 60px auto;
    gap: 30px;
    max-width: 800px;
}

.dashboard-box{
	background: white;
	border-radius: 24px;
	padding: 20px;
	height: 230px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.08);
	display: flex;
	flex-direction: column;
	width: 350px;
}


/* TITLE */
.dashboard-box h2{
	font-size: 24px;
	font-weight: 600;
	padding: 0 15px 0;
	color: #49135C;
	margin: 0;
}

/* NUMBER */
.dashboard-box p{
	font-size: 70px;
	font-weight: 700;
	text-align: left;
	padding: 20px 15px 0;
	color: #8C44A6;
}


:root {
	/* color */
	--primary-dark: #6d28d9;
	--primary: #7c3aed;
	--primary-hover: rgba(124, 58, 237, 0.2);
	--primary-light: #f5f3ff;

	/* bg color */
	--bg-main: #f8fafc;
	--white: #ffffff;

	/* text color */
	--text-main: #1e293b;
	--text-muted: #64748b;

	--border-color: #e2e8f0;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	/* success color */
	--success: #16a34a;
	--success-hover: #15803d;
	--success-light: #f0fdf4;

	/* warning color */
	--warning: #d97706;
	--warning-hover: #b45309;
	--warning-light: #fffbeb;

	/* danger color */
	--danger: #dc2626;
	--danger-hover: #b91c1c;
	--danger-light: #fef2f2;
	--border: 1px solid #e2e8f0;

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	/* Extra Small: Untuk teks paling kecil (error or note) */
	--fs-sm: 0.875rem;
	/* Small: Untuk teks kecil (contoh: tulisan hint 'e.g: A-1-2-B(2)') */
	--fs-base: 1rem;
	/* Base: Saiz default untuk teks biasa (label, input) */
	--fs-md: 1.125rem;
	/* Medium: Besar sikit dari biasa (button) */
	--fs-lg: 1.25rem;
	/* Large: Untuk tajuk kecil or sub-heading */
	--fs-xl: 1.5rem;
	/* Extra Large: Untuk tajuk sederhana besar (untuk tajuk) */
	--fs-xxl: 1.75rem;
	/* Extra Extra Large: Untuk tajuk utama paling besar dlm halaman */
}