._content-area{
    flex-direction: column;
    padding: 31px 30px;
}
form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    /* gap: 1rem; */
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-group-inner{
    display: flex;
    gap: 0.5rem;
}
/* h2{} */
label{
    display: block;
}
select{
	height: fit-content;
    width: fit-content;
    padding: 6px;
}
textarea{
    width: 80%;
    min-width: 14rem;
    field-sizing: content;
    min-height: 2lh;
    resize: none;
}
#floor{
    width: 3rem;
}
.form-group img{
    max-width: 40rem;
    margin-right: 1rem;
}