<aside class="_sidebar-moblie moblie">
	<div class="_menu-atas">

		<nav class="_links">
			<a href="../../pages/system-admin/dashboard.html" data-page="Dashboard">
				<i class="fa-solid fa-display"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/system-admin/reportManage.html" data-page="Manage Report">
				<i class="fa-solid fa-table-list"></i>
				<h4>College Reports</h4>
			</a>
			<a href="../../pages/system-admin/reportAnalysis.html" data-page="Report Analysis">
				<i class="fa-solid fa-chart-line"></i>
				<h4>Analysis</h4>
			</a>
			<a href="../../pages/system-admin/collegeAdminManage.html" data-page="Manage College Admin">
				<i class="fa-solid fa-user-tie"></i>
				<h4>Admin</h4>
			</a>
			<a href="../../pages/system-admin/addStudent.html" data-page="Add Student">
				<i class="fa-solid fa-user-graduate"></i>
				<h4>Student</h4>
			</a>
			<a href="../../pages/system-admin/myProfile.html" data-page="My Profile">
				<i class="fa-solid fa-circle-user"></i>
				<h4>My Profile</h4>
			</a>
		</nav>

	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<i class="fa-solid fa-right-from-bracket"></i>
			<h4>Dashboard</h4>
		</a>
	</div>
</aside>

<aside class="_sidebar-_dekstop _sidebar _dekstop">
	<div class="_menu-atas">
		<div class="_avatar-besar">
			<img style="width: 80%;" src="../../images/logo.png" alt="">
			<i class="fa-solid fa-bolt hidden"></i>
		</div>

		<nav class="_links">
			<a href="../../pages/system-admin/dashboard.html" data-page="Dashboard">
				<i class="fa-solid fa-display"></i>
				<h4>Dashboard</h4>
			</a>
			<a href="../../pages/system-admin/reportManage.html" data-page="Manage Report">
				<i class="fa-solid fa-table-list"></i>
				<h4>College Reports</h4>
			</a>
			<a href="../../pages/system-admin/reportAnalysis.html" data-page="Report Analysis">
				<i class="fa-solid fa-chart-line"></i>
				<h4>Analysis</h4>
			</a>
			<a href="../../pages/system-admin/collegeAdminManage.html" data-page="Manage College Admin">
				<i class="fa-solid fa-user-tie"></i>
				<h4>Admin</h4>
			</a>
			<a href="../../pages/system-admin/addStudent.html" data-page="Add Student">
				<i class="fa-solid fa-user-graduate"></i>
				<h4>Student</h4>
			</a>
			<a href="../../pages/system-admin/myProfile.html" data-page="My Profile">
				<i class="fa-solid fa-circle-user"></i>
				<h4>My Profile</h4>
			</a>
	</div>
	<div class="_menu-bawah">
		<a href="../../index.html">
			<i class="fa-solid fa-right-from-bracket"></i>
			<h4>Logout</h4>
		</a>
	</div>
</aside>