:root {
	--primary: #49135C;
	--primary-md: rgba(140, 68, 166, 0.5);
	--primary-light: #D8B4FE;

	--bg-main: #F0F0F0;
	--text-main: #1e293b;

	--orange-light: #FFF3E0;
	--orange: #F57C00;

	--blue-light: #E3F2FD;
	--blue: #1976d2;

	--choco-light: #FEF1E5;
	--choco: #704116;

	--green-light: #e8f5e9;
	--green: #388e3c;

	--radius: 12px;
	--shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

	--border-radius: 10px;

	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;
}

.analisis-conainer {
	width: 100%;
	height: auto;
	display: grid;
	gap: 1rem;
	grid-template-areas:
		'table'
		'pieChart'
		/* 'barGraphBlock' */
		'donutBar'
		/* 'barGraphTrand' */
	;
	padding: 1rem;
}

.analisis-conainer>* {
	padding: 0.5rem;
	border: 1px solid black;
	background-color: #fff;
	border-radius: 7px;
}

.analisis-conainer>*>h2 {
	text-align: center;
}

.analisis-conainer>*>canvas {
	width: 100%;
	height: 400px;
}

.pieChart {
	grid-area: pieChart;
}

.barGraphBlock {
	grid-area: barGraphBlock;
}

.barGraphTrand {
	grid-area: barGraphTrand;
}

.donutBar {
	grid-area: donutBar;
}

.table {
	grid-area: table;
}

section+.table {
	margin-top: 1rem;
}

section+.table table {
	border-collapse: collapse;
	border-radius: 7px;
	margin-top: 1rem;
	width: 100%;
	border-collapse: collapse;
}

section+.table table th,
section+.table table td {
	text-align: center;
	padding: 0.5rem;
	border: 1px solid black;
}

.filter-control {
	padding: 0.5rem;
	width: 100%;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr;
}

.filter-control select {
	padding: 0.5rem;
	border-radius: 4px;
}

.filter-control button {
	all: unset;
	cursor: pointer;
	padding: 0.5rem;
	text-align: center;
	border-radius: 5px;
	border: 2px solid black;
}

.pending {
	padding: 0.2rem 1rem;
	border-radius: 4px;
	color: var(--orange);
	background-color: var(--orange-light);
	border: 2px solid var(--orange) !important;
}

.assigned {
	padding: 0.2rem 1rem;
	border-radius: 4px;
	color: var(--blue);
	background-color: var(--blue-light);
	border: 2px solid var(--blue) !important;
}

.inProgress {
	padding: 0.2rem 1rem;
	border-radius: 4px;
	color: var(--choco);
	background-color: var(--choco-light);
	border: 2px solid var(--choco) !important;
}

.completed {
	padding: 0.2rem 1rem;
	border-radius: 4px;
	color: var(--green);
	background-color: var(--green-light);
	border: 2px solid var(--green) !important;
}

.btn-reset {
	color: var(--orange) !important;
	border: 3px solid var(--orange) !important;
	background-color: var(--orange-light) !important;
}

.btn-reset:hover {
	background-color: white !important;
}

.btn-export {
	color: var(--green) !important;
	border: 3px solid var(--green) !important;
	background-color: var(--green-light) !important;
}

.btn-export:hover {
	background-color: white !important;
}

@media screen and (min-width:1000px) {
	.filter-control {
		grid-template-columns: 2fr 2fr 1fr;
	}
}

@media screen and (min-width:1300px) {

	.cards {
		grid-template-columns: repeat(4, 1fr);
		height: auto;
	}

	.analisis-conainer {
		grid-template-areas:
			'table table'
			'pieChart donutBar'
		;
	}

}